:ruby
  @page_title = 'Browser Targeting'
  @nav        = :ui
  @subnav     = :browsers

= box 'CSS Mixin to Target IE' do
  %p Use the +ie mixin if you have styles you need to target at IE 10+.
  %p Note: doesn't work on Edge
