= partial 'pano/guide/subnavs/ui', selected_tab: :forms

= box 'The App Form Helper' do
  %p app form helper...

= box 'Form Elements' do
  %p form elements...

= box 'Form Errors' do
  %p form errors - ruby and js
  %p active record errors
