:ruby
  @page_title = 'Grid System'
  @nav        = :ui
  @subnav     = :grid

.grid-16
  .col-2.shift-10
    .box
      %h4 Hi

.grid-16
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi
  .col-1.stack-on-tablet
    .box
      %h4 Hi

.grid-16
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi

.grid.outer-gutters
  .col-2
    .box
      %h4 Hi
  .col-2
    .box
      %h4 Hi
  .col-2
    .box
      %h4 Hi
  .col-2
    .box
      %h4 Hi
  .col-2
    .box
      %h4 Hi
  .col-2
    .box
      %h4 Hi

.grid-64.outer-gutters
  .col-3
    .box
      %h4 Hi
  .col-3
    .box
      %h4 Hi
  .col-3
    .box
      %h4 Hi
  .col-3
    .box
      %h4 Hi

.grid.outer-gutters
  .col-4
    .box
      %h4 Hi
  .col-4
    .box
      %h4 Hi
  .col-4
    .box
      %h4 Hi

.grid
  .col-5
    .box
      %h4 Hi
  .col-7
    .box
      %h4 Hi

.grid
  .col-6
    .box
      %h4 Hi
  .col-6
    .box
      %h4 Hi

.grid
  .col-7
    .box
      %h4 Hi
  .col-5
    .box
      %h4 Hi

.grid
  .col-8
    .box
      %h4 Hi
  .col-4
    .box
      %h4 Hi

.grid
  .col-9
    .box
      %h4 Hi
  .col-3
    .box
      %h4 Hi

.grid
  .col-10
    .box
      %h4 Hi
  .col-2
    .box
      %h4 Hi

.grid
  .col-11
    .box
      %h4 Hi
  .col-1
    .box
      %h4 Hi

%table.grid.wide
  %tr
    %td.col-1 hi
    %td.col-2 hi
    %td.col-3 hi
    %td.col-4 hi
    %td.col-2 hi
