= partial 'subnav', selected_tab: :icons

= box 'Icon Helpers' do
  %p icon
  %p icon_to
  %p icon_btn_to
  %p info_icon_to

= box 'Icon Styles' do
  %p basic icons
  %p big icons
  %p spinning icons

= box 'All the Icons' do
  %p list all the icons here
  %p say how we use some of them?
