:ruby
  @page_title = 'Global Styles'
  @nav = :ui
  @subnav = :global

%p.intro These are UI components and styles that are globally available in all contexts.
%p.intro Specific contexts (Marketing, Login, etc.) will define their own styles, and sometimes override the look & feel of some of these global styles.
