= box 'Tables' do

  %h5 Standard Table

  %table
    %tr
      %th Table Header
      %th Table Header
      %th Table Header
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell

  %h5 Grid Table (%table.grid)

  %table.grid
    %tr
      %th Table Header
      %th Table Header
      %th Table Header
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell

  %h5 Alternating Table With Small Text (%table.alternating.small)

  %table.small.alternating
    %tr
      %th Table Header
      %th Table Header
      %th Table Header
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
    %tr
      %td Table Cell
      %td Table Cell
      %td Table Cell
