// -----------------------------------------------
// demo banner that pushes everything else down if it's there.
// -----------------------------------------------

#demo-banner
  position: fixed
  z-index: 500
  bottom: 0
  left: 0
  right: 0
  height: 72px
  padding: 16px 0
  border-top: solid 2px $yellow
  -webkit-border-image: linear-gradient(to right, $green 0%, $blue 50%, $purple 100%)
  background: white
  border-image-slice: 1
  .buttons
    margin-top: 8px

  +mobile
    height: 50px
    padding: 12px 0

#demo-banner-shim
  height: 72px
  +mobile
    height: 50px
