<!DOCTYPE html>
<html>
<head>
  <title>Pano</title>
  <%= stylesheet_link_tag    "pano/application", media: "all" %>
  <%= javascript_include_tag "pano/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
