!!! 5
%html
  %head
    %title "WDS Rails"
    %link{rel:"preload", href:"https://cdn.smassets.net/assets/wds-react/wds-react.3_0_1.min.css", as:"style"}
  %body
    #main
      #main-column

        %h1.page-title WDS

        #page-content= yield
