.DS_Store
.bundle/
.idea/
log/*.log
pkg/
spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/log/*.log
spec/test_app/tmp/

.sass-cache

/pano.iml

/node_modules
/spec/test_app/public/packs
/spec/test_app/node_modules
GuardFile
tags
**/tags
/tags
*.swp
*.swo
*.swn
