= subnav_link 'Global', root_path

:ruby
  links = [
    {key: :utilities,      label: 'CSS Utilities'},
    {key: :breakpoints,    label: 'Breakpoints'},
    {key: :grid,           label: 'Grid System'},
    {key: :nav,            label: 'Navigation (4.0)'},
    {key: :typography,     label: 'Typography (4.0)'},
    {key: :colors,         label: 'Colors (4.0)'},
    {key: :buttons,        label: 'Buttons (4.0)'},
    {key: :forms,          label: 'Forms (4.0)'},
    {key: :modals,         label: 'Modals (4.0)'},
    {key: :cards,          label: 'Cards (4.0)'},
    {key: :tables,         label: 'Tables (4.0)'},
    {key: :tabs,           label: 'Tabs (4.0)'},
    {key: :lists,          label: 'Lists and Accordians (4.0)'},
    {key: :tooltips,       label: 'Tooltips and Popovers (4.0)'},
    {key: :icons,          label: 'Icons (4.0)'},
    {key: :links,          label: 'Links'},
    {key: :borders,        label: 'Borders'},
    {key: :shadows,        label: 'Shadows'},
    {key: :browsers,       label: 'Browser Targeting'},
    {key: :arrows,         label: 'Arrows (todo)'},
    {key: :banners,        label: 'Banners (todo)'},
    {key: :flash_messages, label: 'Flash Messages (todo)'},
    {key: :spinners,       label: 'Spinners (todo)'},
    {key: :transforms,     label: 'CSS Transforms (todo)'},
  ]

- links.each do |link|
  = subnav_link link[:label], eval("guide_#{link[:key]}_path"), key: link[:key], class: :secondary

-# = subnav_link 'App (todo)',       '#'
-# = subnav_link 'Admin (todo)',     '#'
-# = subnav_link 'Collect (todo)',   '#'
-# = subnav_link 'Marketing (todo)', '#'
-# = subnav_link 'Login (todo)',     '#'
-# = subnav_link 'Basic (todo)',     '#'
-# = subnav_link 'Email (todo)',     '#'
