@import "../global/index"

body, html
  background: $bg-gray

#top-nav
  position: fixed
  background: white
  left: 0
  right: 0
  top: 0
  height: 48px
  box-shadow: 0 0 3px rgba(0,0,0,0.15)
  +clearfix

  .nav-logo a
    float: left
    height: 48px
    line-height: 48px
    margin: 0 32px
    font-size: 24px
    font-weight: 300
    color: $gray
    &:hover
      text-decoration: none
    i
      font-size: 24px

  .nav-links a
    float: left
    height: 48px
    line-height: 48px
    padding: 0 16px
    font-size: 13px
    color: $slate
    transition: all 0.2s ease-in-out
    border-bottom: solid 2px transparent

    &:hover
      text-decoration: none
      background: $lighter-gray
      border-bottom-color: $link-color
    &.selected
      border-bottom-color: $link-color

  .nav-version
    float: right
    height: 48px
    line-height: 48px
    padding: 0 16px
    font-size: 13px
    color: $gray


#main
  margin-top: 48px
  padding: 32px

#subnav
  position: fixed
  top: 80px
  left: 32px
  bottom: 0
  width: 200px
  // background: white
  // border-radius: 3px
  overflow-y: scroll
  // box-shadow: 0 1px 3px rgba(0,0,0,0.15)
  a
    display: block
    padding: 4px 16px
    // border-top: solid 1px $border-color
    color: $slate
    font-weight: 500
    border-radius: 3px
    transition: all 0.2s ease-in-out
    &:hover
      background: rgba(0,0,0,0.05)
      text-decoration: none
    &.secondary
      color: $gray
      margin-left: 16px
      font-weight: normal

    &.selected
      background: $link-color
      color: white

#main-column
  margin-left: 232px

#page-title
  margin: 4px 0 32px 0

// #page-content
//   padding: 32px
//   background: white
//   border: solid 1px #eee


.styleguide-example
  margin-top: $p-spacing
  .tabs
    border-bottom: none
    margin-left: 32px
  .rendered-example, .code-example
    +box
    margin-top: 0
    box-shadow: none
  .code-example
    background: $bg-gray
    pre
      margin: 0
