Default
= component 'wds/card' do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

Title Region
= component 'wds/card', title: 'The monkey was curious.' do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

Addon Region
= component 'wds/card', title: 'The monkey was curious.', add_on: component('wds/button', text: 'Yo') do
    Lorem ipsum dolor sit amet,consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
