- klass = "wds-tab wds-tab--#{@align} wds-tab--#{@color}"
%div{class: klass, data: {controller: 'tabs---wds-tabs'}}
  %ul.wds-tab__tabs{role: 'tablist'}
    = yield

  / Container for panes specified in tabs; hidden unless there is content
  .wds-tab__panes.wds-tab__panes--hidden{data: {target: 'tabs---wds-tabs.paneContainer'}}
    - if @full_width
      .wds-pane.wds-pane--transparent{data: {target: 'tabs---wds-tabs.pane'}}
    - else
      .wds-pane
        .wds-pane__body{data: {target: 'tabs---wds-tabs.pane'}}