// ------------------------------------------
// box model
// ------------------------------------------

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

// ------------------------------------------
// html
// ------------------------------------------

html
  height: 100%

body
  position: relative
  min-height: 100%

// ------------------------------------------
// display
// ------------------------------------------

.hidden
  display: none

.block
  display: block

.inline-block
  display: inline-block

.relative
  position: relative

.absolute
  position: absolute

// ------------------------------------------
// floats
// ------------------------------------------

.cf
  +clearfix

.fl
  float: left

.fr
  float: right

// ------------------------------------------
// alignment
// ------------------------------------------

.centered
  margin-left: auto
  margin-right: auto

.text-right
  text-align: right !important

.text-left
  text-align: left !important

.text-center
  text-align: center !important

.align-top
  vertical-align: top !important

.align-middle
  vertical-align: middle !important

.nowrap
  white-space: nowrap !important

.indented
  margin-left: 32px

// ------------------------------------------
// margins
// ------------------------------------------

.t
  margin-top: 0 !important

.b
  margin-bottom: 0 !important

// ------------------------------------------
// images
// ------------------------------------------

// apparently only works in IE7
img
  -ms-interpolation-mode: bicubic
  outline: none

// ------------------------------------------
// cursors
// ------------------------------------------

[data-behavior~=clickable]
  cursor: pointer

// ------------------------------------------
// prevent mobile tap highlights
// ------------------------------------------

*
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -moz-tap-highlight-color: rgba(0, 0, 0, 0)
