=box
  +clearfix
  margin-top: 32px
  padding: 24px 32px
  background: #fff
  border-radius: 3px
  background-clip: border-box
  +border
  +shadow

.box
  +box

  .box-header
    position: relative
    +clearfix
    // padding-bottom: 16px
    // margin-bottom: 24px
    // padding-bottom: 24px
    margin-bottom: 24px

    // +border-bottom

    .box-title
      margin-bottom: 0
      float: left

    .top-link
      float: right
      line-height: 32px

      .btn
        // buttons are vertically aligned in box headers, without breaking standard links vertical alignment
        position: relative
        // top: -3px

      // todo: test
      input[type="search"]
        margin-top: -8px
        width: 240px


// normal, thick-shadow, mega-shadow
// no border
// box-shadow
// 2px radius
//
// flat
//   border
//   no shadow
//   less 1px padding?
//   3px radius


.box.flat
  box-shadow: none

.box.thick-shadow
  +thick-shadow
  border: none
  border-radius: 2px

.box.mega-shadow
  +mega-shadow
  border: none
  border-radius: 2px


.thick

.thicker

.box-title

.box.big-padding.big-margin


.box.rounded

.no-top-margin

.thin-top-margin

.normal-top-margin

.thick-top-margin

.huge-top-margin



// todo: rename?
.box.centered-box
  .box-header
    text-align: center
    border-bottom: none
    padding-bottom: 0
    .box-title
      float: none
      margin-top: 8px



// todo: relegate this to cx-only, or refactor?
.box.divided-box
  padding: 0
  .box-section
    position: relative
    padding: 24px
    +border-bottom
    &:last-child
      border-bottom: none
  .section-icon
    position: absolute
  .section-contents
    margin-left: 72px
    margin-right: 72px
  .section-switch
    position: absolute
    right: 24px
    top: 24px
