=box
  +clearfix
  background: #fff
  padding: 32px
  margin-top: 32px
  // box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.03)

  border-radius: 3px
  +border
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.03)

  &:first-child
    margin-top: 0

  .box-header
    position: relative
    // padding-bottom: 16px
    // margin-bottom: 24px
    padding-bottom: 32px
    margin-bottom: 32px

    +border-bottom
    +clearfix

    .box-title
      margin-bottom: 0
      float: left

    .top-link
      float: right
      line-height: 28px

      .btn
        // buttons are vertically aligned in header, without breaking standard links vertical alignment
        position: relative
        top: -3px

      input[type="search"]
        margin-top: -8px
        width: 240px

.box
  +box

  &.divided-box
    padding: 0
    .box-section
      position: relative
      padding: 24px
      border-bottom: solid 1px #ddd
      &:last-child
        border-bottom: none
    .section-icon
      position: absolute
    .section-contents
      margin-left: 72px
      margin-right: 72px
    .section-switch
      position: absolute
      right: 24px
      top: 24px

  &.centered-box
    .box-header
      text-align: center
      border-bottom: none
      padding-bottom: 0
      .box-title
        float: none
        margin-top: 8px
