//-----------------------------------
// basic table styles
//-----------------------------------

table
  width: 100%
  margin-top: 24px

  th, td
    text-align: left
    padding: 16px
  th
    font-weight: normal
    font-size: $tiny-font-size
    line-height: 130%
    color: $gray
    text-transform: uppercase

  th:first-child, td:first-child
    padding-left: 0
  th:last-child, td:last-child
    padding-right: 0

  th.top, td.top
    vertical-align: top
  .narrow
    white-space: nowrap
    width: 1%
  .flush-left
    padding-left: 0
  .flush-right
    padding-right: 0
  td.date
    font-size: 11px
    color: $light-gray
  td.avatar
    width: 32px

//-----------------------------------
// divided tables (gridlines)
//-----------------------------------

table.divided
  th, td
    padding: 16px !important
    border-right: solid 1px $border-color
    border-bottom: solid 1px $border-color
  tr:first-child
    th, td
      border-top: solid 1px $border-color
  th:first-child, td:first-child
    padding-left: 12px
    border-left: solid 1px $border-color

//-----------------------------------
// alternating tables (striped)
//-----------------------------------

table.alternating
  th, td
    padding: 12px !important
  tr:nth-child(even)
    th, td
      background: $bg-gray
